!! Set default font
!!*.font: Mononoki:size=14
!!*.font: Ubuntu Mono:size=14
!!*.font: Fantasque Sans Mono:size=14
*.font: monospace:size=14

!! gruvbox dark:
*.color0:   #282828
*.color1:   #cc241d
*.color2:   #98971a
*.color3:   #d79921
*.color4:   #458588
*.color5:   #b16286
*.color6:   #689d6a
*.color7:   #a89984
*.color8:   #928374
*.color9:   #fb4934
*.color10:  #b8bb26
*.color11:  #fabd2f
*.color12:  #83a598
*.color13:  #d3869b
*.color14:  #8ec07c
*.color15:  #ebdbb2
*.color256: #1d2021
*.color257: #ebdbb2

!! black: */
/* *.color0:   #2d2e2d */
/* *.color8:   #4a4845 */
/* *.color1:   #a36666 */
/* *.color9:   #cc6666 */
/* *.color2:   #90a57d */
/* *.color10:  #acb36d */
/* *.color3:   #d7ad87 */
/* *.color11:  #f0c674 */
/* *.color4:   #59829c */
/* *.color12:  #81a2be */
/* *.color5:   #c79ec4 */
/* *.color13:  #b294bb */
/* *.color6:   #80c2a2 */
/* *.color14:  #a3dad3 */
/* *.color7:   #d0d0d0 */
/* *.color15:  #efefef */
/* !! solarized: */
/* *.color0:   #002b36 */
/* *.color1:   #dc322f */
/* *.color2:   #859900 */
/* *.color3:   #b58900 */
/* *.color4:   #268bd2 */
/* *.color5:   #6c71c4 */
/* *.color6:   #2aa198 */
/* *.color7:   #93a1a1 */
/* *.color8:   #657b83 */
/* *.color9:   #dc322f */
/* *.color10:  #859900 */
/* *.color11:  #b58900 */
/* *.color12:  #268bd2 */
/* *.color13:  #6c71c4 */
/* *.color14:  #2aa198 */
/* *.color15:  #fdf6e3 */
/* *.color256: #002b36 */
/* *.color257: #93a1a1 */

